{% extends 'base.html' %}

{% block title %}Listas{% endblock %}

{% block header %}
  <h1>Suas Listas</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('todo.criar_lista') }}">Nova Lista</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for lista in listas %}
    <article class="post">
      <header>
        <div>
          <h2>{{ lista['titulo'] }}</h2>
          <div class="about">Criada por {{ lista['username'] }} em {{ lista['criado_em'] }}</div>
        </div>
        {% if g.user and g.user['id'] == lista['author_id'] %}
          <a class="action" href="{{ url_for('todo.atualizar_lista', id=lista['id']) }}">Editar</a>
        {% endif %}
      </header>
    </article>
  {% else %}
    <p>Nenhuma lista encontrada.</p>
  {% endfor %}
{% endblock %}
